altair==5.5.0
attrs==25.4.0
blinker==1.9.0
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1749229842835/work
cachetools==6.2.4
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1754231422783/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725571112467/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1754767332901/work
click==8.1.8
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1755216263872/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1752608696525/work
gitdb==4.0.12
GitPython==3.1.45
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1745509363867/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1733219680183/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
narwhals==2.14.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1732314280888/work/dist/numpy-2.0.2-cp39-cp39-linux_x86_64.whl#sha256=62d98eb3da9f13e6b227c430d01026b7427f341b3fdcb838430f2a9e520417b1
packaging==25.0
pandas==2.3.3
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1751482006338/work
protobuf==6.33.2
pyarrow==21.0.0
pybind11 @ file:///D:/bld/bld/rattler-build_pybind11_1755953378/work
pybind11-global @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pybind11-global_1755953338/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydeck==0.9.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil==2.9.0.post0
pytz==2025.2
referencing==0.36.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
rpds-py==0.27.1
six==1.17.0
smmap==5.0.2
streamlit==1.50.0
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
tenacity==9.1.2
toml==0.10.2
torch @ file:///home/conda/feedstock_root/build_artifacts/libtorch_1739309769701/work
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.5.4
triton @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_triton_1738274676/work/python
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
tzdata==2025.3
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
watchdog==6.0.0
zstandard==0.23.0
