altair
attrs
blinker
Brotli
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cycler
filelock
fonttools
fsspec
gitdb
GitPython
gmpy2
h2
hpack
hyperframe
idna
importlib_metadata
importlib_resources
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib==3.9.4
mpmath
munkres==1.1.4
networkx
numpy==2.0.2
packaging
pandas
patsy
Pillow
protobuf
pyarrow==19.0.1
pybind11
pybind11-global
pycparser
pydeck
pyparsing
PySide6==6.9.0
PySocks
python-dateutil
pytz
PyYAML
requests
rpds-py
scipy
seaborn
shiboken6==6.9.0
six
statsmodels
streamlit
sympy
tenacity
toml
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado
triton
typing_extensions
tzdata
unicodedata2
urllib3
watchdog
zipp
zstandard==0.23.0
